<div class="container">
  <h1>Make your choices</h1>
<form action="/cool_url" method="get">
  Get a cool url!
  <br>
  <input type="text" name="post[user_name]">User Name<br>
  <input type="text" name="post[title]">Title<br>
  <input type="text" name="post[price]">Price<br>
  Description<br>
  <textarea name="post[description]"></textarea><br>
  <input type="submit" value="Get it!">

</form>
  <h2>Sonic garage</h2>

<form action="/cool_url" method="post">
  You have two choices:
  <br>
  <input type="radio" name="your_choice" value="sonic_garage"> Sonic Garage<br>
  <input type="radio" name="your_choice" value="pay_me_money"> Pay Me Money<br>
  <input type="text" name="post[title]">Title<br>
  <input type="text" name="post[price]">Price<br>
  Description<br>
  <textarea name="post[description]"></textarea><br>
  <br>
  <input type="submit" value="Get it!">

</form>
</div>
